:root {
    --color-white: #fff;
    --color-grey: #c4c4c4;
    --default-padding:2rem;
    --timing-animation:0.2s;
  }
  
  /* CSS Reset */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    display: inline-block;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 0;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: sans-serif;
  }
  
  /* End CSS Reset */
  body{
    background-color: rgb(247, 211, 162);
    color: #fff;
  }
  .container{
    display: flex;
    flex-direction: column;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;

    @media (max-width: 600px) {
      gap: calc(var(--default-padding) * 2);
    }
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--default-padding);
  }
  .logo_name_page{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bolder;
    font-size: 2.2rem;
  }
  .icon_pic{
    width: 6rem;
    max-width: 100%;
    
  }
  .navigtions{
    display: flex;
    gap: 2rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
  }
  .link{
     text-decoration: none;
     color: black;
     transition: color var(--timing-animation) ease-in-out;

     &:hover{
      color: rgb(255, 255, 255);
     }
 }
 .section{
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-top: 10rem;

   &--section--one--column{
   
   }


  }
  .section_content{
    display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  }
 
 .iqra_image{
  display: inline-block;
  width: 62rem;
 }

 .section_title{
  font-size: 5rem;
  font-weight: bold;
 }
 .section_title_2{
  font-size: 4rem;
  font-weight: bold;
 }
 .section_description{
  font-size: 1.6rem;
  color: rgb(153, 151, 151);
 }
 .section_buttons{
  display: flex;
  gap: 3rem;
  margin-top: var(--default-padding);
 }
 .section_button{
    width: 15rem;
    height: 4rem;
    background-color: rgb(233, 182, 94);
    border-radius: 1rem;
    padding: 1.2rem 1.3rem;
   text-decoration: none;
   font-size: 1.5rem;
   font-weight: 700;
   box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.126);
   transition: 0.7s ease;
 }
 .section_button:hover{
    transform: scale(1.1);

 }
 .section_image{
  display: flex;
  flex-direction: column;
  flex: 1;
 }

// /section2/
.iqra_image2{
  display: inline-block;
  width: 50rem;
}

.ayat{
  margin-top: 30px;
  display: flex;
  overflow-x: auto;
  font-size: 30px;
  white-space: nowrap;
  flex-direction: row;
  
}
.ayat_quran{
  display: flex;
  flex-direction: 1;
}
.ayat_qquran{
  
  flex: 0 0 auto;
  white-space: nowrap;
  margin-right: 10px;
}

.section_cards{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 10rem;
  align-items: center;
}
.cards{
  
  display: flex;
  gap: 6rem;
  margin-top: 4rem;
  color: black;
  
}

.card__img{
  width: 8rem;
  max-width: 100%;
}
.card{
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(255, 255, 255);
width: 250px;
height: 200px;
padding: 2rem;
border-radius: 1rem;
text-decoration: none;



}

.card_title{
  font-size: 2.8rem;
}

.card_button{
  background-color: rgb(0, 0, 0);
  color: #fff;
  width: 15rem;
  height: 3rem;
  border-radius: 2rem;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 2rem;
}

.faq {
  max-width: 50rem;
  margin-top: calc(var(--default-padding) * 1.5);
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  &__row {
    position: relative;
    padding: var(--default-padding) 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid black;
    }
  }


  &__arrow {
    width: 1.2rem;
    max-width: 100%;
    transition: transform var(--timing-animation) ease-in-out;
    position: absolute;
    right: 0;
    top: calc(var(--default-padding) + 0.6rem);
  }

  &__input {
    display: none;

    &:checked ~ .faq__answer {
      max-height: 30rem;
      padding-top: var(--default-padding);
      opacity: 1;
    }

    &:checked ~ .faq__arrow {
      transform: rotate(180deg);
    }
  }

  &__question {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
  }

  &__answer {
    font-weight: 400;
    font-size: 1.4rem;
    overflow: hidden;
    max-height: 0.1rem;
    transition: all var(--timing-animation);
    opacity: 0;
  }
}

.section_faq{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: #fff;
}

.section__title2{
  flex-basis: 100%;
  align-items: center;
  color: black;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: bold;
}
.section__description{
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
}
.faq__question{
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.footer {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: var(--default-padding) 0;
  font-size: 1.4rem;


  @media (max-width: 600px) {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--color-very-dark-blue);
    z-index: -1;
  }

  &__left {
    display: flex;
    gap: var(--default-padding);
    margin-right: auto;

    @media (max-width: 600px) {
      margin-right: 0;
    }
  }
}



.logoContent__logo{
  width: 10rem;
  
}